:root {
  --tapestry-b: rgb(15, 15, 15);
  --overlays-b: rgb(31, 34, 34);
  --main-c: greenyellow;
  --highlight-c: greenyellow;
  --complement-c: lightsalmon;
  --hover-c: rgb(122, 239, 255);
  --player-one-c: rgb(255, 199, 15);
  --player-two-c: rgb(187, 0, 62);
  --font-player: 'Indie Flower', cursive;
  --font-site: 'Righteous', cursive;
}

main {
  background: var(--tapestry-b);
  font-family: var(--font-site);
  color: var(--tapestry-b);
  min-height: 100vh;
}

h1 {
  color: var(--highlight-c);
  text-align: center;
}

input.play-game {
  display: block;
  margin: 1rem auto;
  color: var(--complement-c);
}
input.play-game:hover {
  color: var(--hover-c);
}
input.play-game:focus {
  color: var(--hover-c);
}

#introduction {
  position: absolute;
  margin-top: 0px;
  color: var(--complement-c);
  background: var(--overlays-b);
  text-align: center;
  vertical-align: middle;
  height: 50vh;
  min-height: 300px;
  width: 100vw;
  opacity: 1;
  transition: opacity 0.5s;
  padding-top: 5vw;
  z-index: 1;
}

#introduction.fade {
  opacity: 0;
  height: 50vh;
  min-height: 300px;
  padding-top: 5vw;
  width: 100vw;
}

#introduction.disappear {
  height: 0;
  width: 0;
}

.player-x { color: var(--player-one-c); }

.player-o { color: var(--player-two-c); }

.game-board {
  display:  grid;
  grid-template-columns: repeat(3, minmax(10vw, 10vw));
  grid-template-rows: repeat(3,minmax(10vw, 10vw));
  gap: 1vw;
  max-width: 32vw;
  margin: 1vw auto 2vw;
  min-width: 20vw;

}

.game-square {
  border: 1px var(--highlight-c) solid;
  border-radius: 6px;
  font-family: var(--font-player);
  font-size: 7vw;
  text-align: center;
}
