main {
  background: black;
  color: greenyellow;
  min-height: 100vh;
}

h1 {
  color: greenyellow;
  text-align: center;
}

input.play-game {
  display: block;
  margin: 1rem auto;
  color: lightsalmon;
}
input.play-game:hover {
  color: rgb(122, 239, 255);
}

input.play-game:focus {
  color: rgb(0, 225, 255);
}

#introduction {
  position: absolute;
  margin-top: 0px;
  color: rgb(240, 71, 255);
  background: rgb(31, 34, 34);
  text-align: center;
  vertical-align: middle;
  height: 50vh;
  min-height: 400px;
  width: 100vw;
  opacity: 1;
  transition: opacity 0.5s;
  z-index: 1;
}

#introduction.fade {
  opacity: 0;
  height: 50vh;
  width: 100vw;
}

#introduction.disappear {
  height: 0;
  width: 0;
}

.game-board {
  display:  grid;
  grid-template-columns: repeat(3, minmax(10vw, 10vw));
  grid-template-rows: repeat(3,minmax(10vw, 10vw));
  gap: 1vw;

  max-width: 32vw;
  margin: 1vw auto 2vw;
  min-width: 20vw;

}

.game-square {
  border: 1px greenyellow solid;
  border-radius: 6px;
  align-items: center;
  justify-items: center;

  color: red;
  font-size: 3rem;
}